<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Tech Talk's Schdule</div>
    <div class="panel-body">
        <button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-hand-up"></span> Volunteer!</button>
        <p>Sample table for list of tech talkers</p>
        <div>
        <form role="form" class="form-inline">
            <div class="form-group">
                <label class="sr-only">Topic</label>
                <input type="text" placeholder="Enter Your Topic" id="topic" class="form-control">
            </div>
            <div class="form-group">
                <label class="sr-only">Date</label>
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select> 
            </div>
            <button class="btn btn-default" type="submit">Confirm</button>
        </form>
        </div>
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Week</th>
                <th>Name</th>
                <th>Team</th>
                <th>Topic</th>
                <th>Date</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <tr class="warning">
                <td>1</td>
                <td>Ken</td>
                <td>ABCS</td>
                <td>
                    <div ng-class="{hidden: selected==1}" ng-model="topic">Yeoman <button type="button" class="btn btn-primary btn-xs" ng-init="selected=2" ng-click="selected=1">Edit</button></div>
                    <form class="animate" ng-class="{hidden: selected==2}">
                        <div class="col-xs">
                            <input type="text" placeholder="Yeoman" class="form-control">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="selected=2" ng-class="{hidden: selected==2}">Edit</button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="selected=2" ng-class="{hidden: selected==2}">Cancel</button>
                        </div>
                    </form>  
                </td>
                <td>3 Jan 2014</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ping</td>
                <td>ABCS</td>
                <td>Web service</td>
                <td>10 Jan 2014</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mac</td>
                <td>AMEDIA</td>
                <td>Spring framework</td>
                <td>17 Jan 2014</td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Toon</td>
                <td>ABCS</td>
                <td>10 tips to make an animation</td>
                <td>24 Jan 2014</td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Pang</td>
                <td>AMEDIA</td>
                <td>Flat design</td>
                <td>31 Jan 2014</td>
                <td></td>
            </tr>            
        </tbody>
    </table>
</div>